.tabla-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5rem auto 0 auto;
    max-width: 95%;
    padding: 1.5rem;

}

th {
  padding: 0.2rem;
  text-align: center;
  border-bottom: 1.5px solid black;
  /* Define anchos fijos para cada columna */
  width: 10%; /* Ajusta este valor según necesites */
}

td {
  padding: 0.2rem;
  text-align: center; 
  width: 10%; 
}

td input[type="text"],
td input[type="number"] {
  max-width: 6rem; /* O un valor específico si prefieres */
  padding: 0.2rem;
  box-sizing: border-box; /* Asegura que el padding y el borde no aumenten el ancho total */
}

.botonModificar,
.botonEliminar{
    border: none;
    width: 5rem;
}

.botonModificar {
    background-color: rgb(51, 51, 253);
    color: white;
    padding: .4rem;
    border-radius: .2rem;
    margin-right: .2rem;
}

.botonEliminar {
    background-color: rgb(245, 36, 36);
    color: white;
    padding: .4rem;
    border-radius: .2rem;
}

.notFound {
  text-align: center;
  position: absolute;
  width: 90%;
  font-size: large;
  color: rgb(217, 106, 106);
}

.buttonElementsDeleted{
  margin-top: 100px;
 
  display: flex;
  justify-content: start;
  align-items: center;
}

.buttonElementsDeleted button{
 padding: 7px;
 font-size: large;
 border-radius: 8px;
 color: white;
 outline: none;
 border: none;
 cursor: pointer;
 background-color: rgb(41, 41, 222);
 box-shadow: inset;
}
.buttonElementsDeleted button:hover {
  background-color: rgb(90, 90, 205);
}

/*MODO EDICION*/
.container-edicion{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*ESTILO DE BOTONES DEL MODO EDICION*/

.botonGuardar,
.botonCancelar{
  border-radius: .5rem;
}

.botonGuardar{
  background-color: rgb(145, 250, 145);
  margin-right: .4rem;
}

.botonCancelar{
  background-color: red;
}

.td-edicion{
  margin-left: 6.9rem;
}

.td-stock{
  margin-right: 4.5rem;
}




.tabla-eliminados thead th {
  width: 0;
  display: none;
}
